.order-table{
    border-collapse:collapse;
    display: block;
    font-size: 17px;
    padding: 8px 15px 13px 15px;
    margin: 0 0 3px 24px;
    width: 236px;
}

.order-table-header{
    text-align:center;


    padding:16px;
}

.order-table-odd-row{
    text-align:center;


    margin: 5px;
    padding: 5px;
}

.order-table-even-row{
    text-align:center;


}

